:root {
  --color-accent: #cb0000;
  --color-bg-accent: #eeebd9;
  --color-bg-light: #fff;
  --color-grey: #999;
  --color-system-sales: #f00;
  --color-system-success: #44c200;
  --color-text-dark: #000;
  --color-text-light: #fff;
  --color-tag: #c3b8a5;
  --shadow-text-light: 0 1px 0 rgba(0, 0, 0, 0.35);
  --shadow-button: inset 0 -1px 1px 0 rgba(0, 0, 0, 0.3);
}
