:root {
  --font-primary: 'Roboto', 'Arial', 'Helvetica Neue', sans-serif;
  --font-secondary: 'Open Sans', 'Arial', 'Helvetica Neue', sans-serif;
  --font-condensed: 'Roboto Condensed', 'Arial', 'Helvetica Neue', sans-serif;

  // Техническая переменная, не удалять!
  --current-font: var(--font-primary);

  --font-title: 800 #{rem(60)} / 0.9 var(--font-primary);
  --font-card-title: 700 #{rem(21)} / 1.1 var(--font-condensed);

  --font-card-description: 300 #{rem(15)} / 1.1 var(--font-primary);
  --font-body: 300 #{rem(17)} / 1.5 var(--font-primary);
  --font-price: 800 #{rem(24)} / 1.2 var(--font-primary);
  --font-price-small: 400 #{rem(13)} / 1.3 var(--font-primary);
  --font-tag: 400 #{rem(11)} / 1.5 var(--font-secondary);
  --font-list: 400 #{rem(15)} / 1.3 var(--font-primary);
  --font-button: 300 #{rem(16)} / 1.4 var(--font-primary);

  @include mediaLaptop {
    --font-title: 800 #{rem(50)} / 0.9 var(--font-primary);
  }

  @include mediaTablet {
    --font-title: 800 #{rem(40)} / 0.9 var(--font-primary);
    --font-body: 300 #{rem(16)} / 1.5 var(--font-primary);
    --font-price: 800 #{rem(20)} / 1.2 var(--font-primary);
    --font-tag: 400 #{rem(10)} / 1.5 var(--font-secondary);
  }

  @include mediaMobile {
    --font-title: 800 #{rem(30)} / 0.9 var(--font-primary);
    --font-body: 300 #{rem(15)} / 1.5 var(--font-primary);
    --font-price: 800 #{rem(18)} / 1.2 var(--font-primary);
    --font-tag: 400 #{rem(9)} / 1.5 var(--font-secondary);
  }
}
